* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  display: inline-block;
  width: 30%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon {
  width: 6rem;
}

.title-header {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border-radius: 2.8rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  padding: 1.6rem 3.1rem;
  text-decoration: none;
  width: 30%;
}
.btn:hover {
  background-color: #5cbf2a;
}
.btn:active {
  position: relative;
  top: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
