* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  display: inline-block;
  /* width: 75%; */
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.container {
  width: 144rem;
  margin: 10rem auto;
}

.flex-container {
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  height: 40rem;
  width: 85rem;
  border-radius: 1rem;
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem 3.2rem;
}

.sedan-column {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%);
}

.suv-column {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}

.luxury-column {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%);
}

.icon {
  width: 6rem;
}

.title-header {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border-radius: 2.8rem;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  font-family: Arial;
  font-size: 1.5rem;
  padding: 1.6rem 3.1rem;
  text-decoration: none;
  text-align: center;
  width: 75%;
}
.btn:hover {
  background-color: inherit;
  box-shadow: 0 0 0 2px hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.btn:active {
  position: relative;
  top: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
